<article class="bank">
  <div class="details">
    <h3>{{@bank.Name}}</h3>
    <div class="detail owner">
      <span>Name:</span> {{@bank.Name}}
    </div>
    <div class="detail type">
      <span>COMPE:</span> {{@bank.Code}}
    </div>
    <div class="detail location">
      <span>ISPB:</span> {{@bank.ISPB}}
    </div>
    <div class="detail bedrooms">
      <span>CNPJ:</span> {{@bank.Document}}
    </div>
  </div>
</article>